<!DOCTYPE html>
<html>
    <head>
        <link href="../static/css/home.css" rel="stylesheet">
    </head>
    <body style="border: 5px solid rgb(119, 162, 255); border-radius: 20px; width: 1300px; margin-left: auto; margin-right: auto; margin-top: 350px;">
        <h1 style="text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 70px; color: rgb(21, 61, 148);">Benvenuto</h1>
        <h1 style="text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 50px; color: rgb(0, 22, 68)"> {{current_user.nome}} {{current_user.cognome}}</h1>
        <div class="tessera">
            <div class="left">    
                <p class="cf">{{current_user.codice_fiscale}}</p>
                <p class="cognome">{{current_user.cognome}}</p>
                <p class="nome">{{current_user.nome}}</p>
                <p class="citta">{{current_user.luogo_nascita}}</p>
                <p class="citta">{{current_user.comune}}</p>
                <p class="dataN">{{current_user.data_nascita}}</p>
            </div>
            <div class="right">
                <p class="scadenza">{{data_scadenza}}</p>
                <p class="sesso">{{current_user.sesso}}</p>
                <img class="img" src="https://www.fascicolosanitario.regione.lombardia.it/image/layout_set_logo?img_id=12053304&t=1736161087727" >
            </div>
        </div>
    </body>   
        

